server:
  port: 9901
spring:
  application:
    name: demo-eureka-client
  security:
    user:
      name: bban
      password: 123456
#eureka的配置
eureka:
  client:
    service-url:
      defaultZone: http://bban:123456@localhost:8701/eureka/,http://bban:123456@localhost:8702/eureka/
  instance:
    prefer-ip-address: true  #以ip 地址注册
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
#    hostname: ${spring.cloud.client.ipAddress}
#    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
    lease-renewal-interval-in-seconds: 1 #每间隔1s，向服务端发送一次心跳，证明自己依然”存活“
    lease-expiration-duration-in-seconds: 2 #告诉服务端，如果我2s之内没有给你发心跳，就代表我“死”了，将我踢出掉
